.header {
    margin-bottom: 30px;
    &__details {
        display: flex;
        height: 50px;
        background-color: $color-light-grey;
        justify-content: center;
        gap: 3%;
        align-items: center;
    }
    &-details__item {
        @include font('Roboto', normal, 400, 14px);
        list-style: 16px;
        color: $color-dark-grey;
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s linear;

    }
    &-details__item:hover {
        color: $color-sm-text;
        transform: scale(1.1);
        transition: transform 0.3s linear;
    }
    &__content {
        padding: 0 10px;
        height: 149px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer
    }
    &-logo__text{ 
        @include font('Roboto', normal, 700, 36px);
        line-height: 42px;
        letter-spacing: 0.1em;
        color: $color-green;
        text-align: center;
        padding-left: 20px;
    }
    &-contacts {
        &__number {
            @include font('Roboto', normal, 400, 16);
            line-height: 19px;
            padding-right: 40px;
        }
        &__btn-md {
            @include font('Roboto', normal, 400, 14px);
            line-height: 16px;
            border: 2px solid $color-green;
        }
    }
    &__category {
       display: flex;
       justify-content: center;
       gap: 4%; 
       @include font('Roboto', normal, 400, 16px);
       line-height: 19px;
    }
    &-category__item {
        cursor: pointer;
        transform: scale(1);
        transition: transform 0.3s linear;
    }
    &-category__item:hover {
        color: $color-sm-text;
        transform: scale(1.1);
        transition: transform 0.3s linear;
    }
}
@media (max-width: $sm) {
    .header {
        &__content {
            flex-direction: column;
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-contacts {
            &__number {
                padding:0 0 10px;
            }
            &__btn {
                padding-bottom: 10px;
            }
        }
        &__category, &-category {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            &__item {
                padding-bottom: 10px;
            }
        }
    }
}